* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
  }   
   
body {
  position: relative;
  width: 100%;
  height: 100vh;
}

#logo {
  padding: 1rem 0;
}

/* HAMBURGER */
.hamburger {
  position: absolute;
  top: 50vh;
  right: -2.3125rem;
  z-index: -1;
  background-color: rgba(65, 65, 65, 0.508);
  height: 2.1875rem;
  width: 2.3rem;
  border-radius: 0 0.5rem 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  cursor: pointer;
  padding: 0.3125rem;
}

.lines {
  display: block;
  background-color: rgb(255, 255, 255);
  height: 0.125rem;
  width: 60%;
  padding-right: 0.625rem;
}

.toggle-function {
  transform: translate(-13.75rem, 0);
  transition: 0.5s;
}

/* MENU */
nav {
  width: 13.75rem;
  height: 100vh;
  background-color: rgba(88, 88, 88, 0.508);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
  z-index: 10;
  position: absolute;
  color: rgb(255, 255, 255);
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

li {
  width: auto;
}

li a {
  font-size: 1.1rem;
  cursor: pointer;
  padding: 1.25rem 0.9375rem;
  transition: ease-in-out 0.5s;
  color: rgb(255, 255, 255);
}

li a:hover {
  color: #f1c40f;
  padding-bottom: 0.5rem;
  border-bottom: 0.25rem #f1c40f solid;
  transition: 0.5s;
  letter-spacing: 0.13rem;
  font-weight: bold;
}

/* SOCIAL MEDIA */
.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 1.25rem 0;
}

.social-media-icons a {
  color: rgb(255, 255, 255);
}

.hide {
  top: 4.375rem;
}

/* MEDIA BREAKPOINT */
@media screen and (max-width: 700px) {
  #logo {
    padding: 0rem;
  }

  /* HAMBURGER */
  .hamburger {
    position: relative;
    top: auto;
    right: auto;
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    cursor: pointer;
    padding: 0.3125rem;
    margin-right: 0.3125rem;
    background-color: transparent;
    border-radius: 0;
  }

  .lines {
    display: block;
    background-color: rgb(255, 255, 255);
    height: 0.125rem;
    width: 80%;
    padding-right: 0.625rem;
  }

  .lines-rotate {
    background-color: rgb(85, 85, 85);
    border-radius: 0.3125rem;
  }

  /* MENU */
  nav {
    height: 4.5rem;
    width: 100vw;
    background-color: rgba(88, 88, 88, 0.508);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3.125rem;
    color: rgb(255, 255, 255);
    padding: 0.9375rem 1.25rem;
  }

  ul {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -18.75rem;
    right: 0;
    background-color: rgb(241, 196, 15);
    padding: 1.125rem 0;
    border-radius: 0 0 1.25rem 1.25rem;
  }

  li a {
    color: rgba(12, 11, 11, 0.836);
  }

  li {
    text-align: center;
    width: 90vw;
  }

  li a:hover {
    font-weight: bold;
    color: rgb(25, 30, 36);
    border: none;
    letter-spacing: 0.13rem;
  }
}