* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    text-decoration: none;
    list-style-type: none;
  }   
   
body {
  position: relative;
  width: 100%;
  height: 100vh;
}

#logo {
  width: 3rem;
  padding-top: 3rem;
  transition: 0.5s;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(247deg) brightness(104%) contrast(101%);
}

@keyframes logoHoverColor {
  from {
    filter: invert(83%) sepia(40%) saturate(3422%) hue-rotate(1deg) brightness(105%) contrast(89%);
  }

  to {
    filter: invert(83%) sepia(40%) saturate(3422%) hue-rotate(1deg) brightness(105%) contrast(89%);
  }
}

#logo:hover {
  animation: 0.5s ease-in-out forwards logoHoverColor;
  transform: scale(130%);
}

/* HAMBURGER */
.hamburger {
  position: absolute;
  top: 50vh;
  right: -2.3125rem;
  z-index: -1;
  background-color: rgba(65, 65, 65, 0.9);
  height: 2.1875rem;
  width: 2.3rem;
  border-radius: 0 0.5rem 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  cursor: pointer;
  padding: 0.3125rem;
  transition: 0.5s;
}

.hamburger:hover {
  transform: scale(120%) translateX(0.2rem);
}

.toggle-function-sb {
  transform: translate(13.75rem, 0);
  transition: ease-out 0.5s;
}

/* MENU */
nav {
  width: 13.75rem;
  height: 100vh;
  background-color: rgba(88, 88, 88, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  z-index: 10;
  position: absolute;
  left: -13.75rem;
  color: rgb(255, 255, 255);
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}

li {
  width: auto;
}

li a {
  font-size: 1.1rem;
  cursor: pointer;
  padding: 1.25rem 0.9375rem;
  transition: ease-in-out 0.5s;
  color: rgb(255, 255, 255);
}

li a:hover {
  color: rgb(241, 196, 15);
  padding-bottom: 0.5rem;
  border-bottom: 0.25rem rgb(241, 196, 15) solid;
  transition: 0.5s;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

/* SOCIAL MEDIA */
.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 1.25rem 0;
}

.social-media-icons a {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  transition: 0.5s;
}

.social-media-icons a:hover {
  color: rgb(241, 196, 15);
  transform: scale(135%);
}

/* HEADER */
header {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: space-between;
  align-items: end;
  overflow: hidden;
  z-index: 2;
}

.header-clone {
  position: absolute;
  z-index: 1;
  top: 0rem;
}

.jumbotron {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  background-image: url(../Images/Profile_picture.jpeg), linear-gradient(to top, rgb(40, 40, 40), rgb(40, 40, 40));
  background-blend-mode: lighten;
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 100vh;
  z-index: 3;
}

.header-clone .jumbotron {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  background-color: rgb(40, 40, 40);
  background-image: url(../Images/Profile_picture.jpeg), linear-gradient(to top, rgba(241, 196, 15, 0.100), rgba(241, 196, 15, 0.100));
  background-blend-mode: lighten;
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto 100vh;
  z-index: 3;
}

.greetings {
  position: relative;
  bottom: 13rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  z-index: 4;
}

.header-clone .greetings {
  padding-left: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  z-index: 4;
}

.greetings span:first-child {
  font-size: 1.125rem;
}

.greetings span:nth-child(2) {
  font-size: 4rem;
}

.greetings span:nth-child(3) {
  font-size: 3.25rem;
}














/* MEDIA BREAKPOINT */

/* COMPUTER */
@media screen and (min-width: 801px) {}

/* PHONES LANDSCAPE */
@media screen and (min-width: 650px) and (max-width: 850px) {
  html {
    font-size: 12px;
  }
  
  .greetings {
    bottom: 15rem;
    padding-right: 2rem;
  }
}

/* PHONES */
@media screen and (max-width: 650px) {
  html {
    font-size: 12px;
  }

  #logo {
    width: 2rem;
    padding: 1.25rem 0rem;
  }

  /* HAMBURGER */
  .hamburger {
    top: 25.6875rem;
    left: 80%;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .hamburger:hover {
    transform: scale(120%) translateY(0.2rem);
  }

  .toggle-function-dd {
    transform: translate(0, 25.6875rem);
    transition: 0.5s;
  }

  /* MENU */
  nav {
    height: 25.6875rem;
    width: 100vw;
    gap: 1.25rem;
    padding: 0.9375rem 1.25rem;
    left: 0;
    top: -25.6875rem;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
    border-radius: 0 0 1.25rem 1.25rem;
  }

  li {
    text-align: center;
    width: 90vw;
  }

  .jumbotron {
    background-color: rgb(40, 40, 40);
    background-image: url(../Images/Profile_picture_circle.png), linear-gradient(to top, rgb(40, 40, 40), rgb(40, 40, 40));
    background-position: center;
    background-position-y: max(10vh);
    background-repeat: no-repeat;
    background-size: contain;   
  }


  .header-clone .jumbotron {
    display: none; 
  }

  .greetings {
    bottom: 22rem;
    padding-right: 2rem;
  }
}

/* TABLETS */
@media screen and (min-width: 700px) and (max-width: 800px) {
  .jumbotron {
    padding: 2rem;
    background-color: rgb(40, 40, 40);
    background-image: url(../Images/Profile_picture_circle.png), linear-gradient(to top, rgb(40, 40, 40), rgb(40, 40, 40));
    background-position: center;
    background-position-y: max(10vh);
    background-repeat: no-repeat;
    background-size: contain;   
  }

  .header-clone .jumbotron {
    display: none; 
  }

  .greetings {
    bottom: 17rem;
    padding-right: 2rem;
  }
}